@using Entity_Layer.Concrete
@model List<Squad>
<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ekibin Çalışma Durumu</h4>
            @foreach (var item in Model)
            {
                <div class="d-flex py-4">
                    <div class="preview-list w-100">
                        <div class="preview-item p-0">
                            <div class="preview-thumbnail">
                                <img src="@item.memberImageUrl" class="rounded-circle" alt="">
                            </div>
                            <div class="preview-item-content d-flex flex-grow">
                                <div class="flex-grow">
                                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                        <h6 class="preview-subject">@item.memberFullName</h6>
                                    </div>
                                    <p class="text-muted">@item.memberTitle</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-muted">Ekip üyesinin proje ilerleme durumu : </p>
                <div class="progress progress-md portfolio-progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: @item.projectProgress%" aria-valuenow="@item.projectProgress%" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            }
        </div>
    </div>
</div>