@using Entity_Layer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "OutBox";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Kutusu</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>e-Mail</th>
                            <th>Ad</th>
                            <th>Öngörü</th>
                            <th>İçerik</th>
                            <th>Tarih</th>
                            <th>Opsiyon |</th>
                            <th>Opsiyon ||</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.WriterMessageID</td>
                            <td>@item.Receiver</td>
                            <td>@item.ReceiverName</td>
                            <td>@item.Subject</td>
                            @if (item.MessageContent.Length > 15)
                            {
                                <td>@item.MessageContent.Substring(0, 15)...</td>
                            }
                            else
                            {
                                <td>@item.MessageContent</td>
                            }
                            <td>@item.Date</td>
                            <td>
                                <a href="/AdminMessage/DeleteContactMessage/@item.WriterMessageID" class="btn btn-outline-danger">Sil</a>
                            </td>
                            <td>
                                <a href="/AdminMessage/MessageContentDetails/@item.WriterMessageID" class="btn btn-outline-info">Mesajı Gör</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
